:root {
    --main-background: #332E46;
    --div-background: #3F21C5;
    --credit-background: #1449B3;
    --playlink: #423871;
}

/* containers */

body {
    background-color: var(--main-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.small-div {
    width: 100%;
    max-width: 1200px;
    height: 10%;
    min-height: 100px;
    background-color: var(--div-background);
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.big-div {
    max-width: 100%;
    width: 1200px;
    height: 80%;
    min-height: 640px;
    background-color: var(--div-background);
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 20px;
}

.column-div {
    margin: auto;
    max-width: 1200px;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--div-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
}

.half-div {
    height: 100%;
    min-height: 640px;
    width: 48%;
    margin: auto;
    background-color: brown;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 20px;
}

.text-div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.screenshots {
    width: 100%;
    max-width: 1200px;
    height: 80%;
    min-height: 640px;
    /* Debug-color only */
    background-color: var(--div-background);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border-radius: 20px;
}

.top-nav {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: auto;
    background-color: var(--playlink);
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.credit-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 400px;
    height: 600px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 400px;
    padding: 10px;
    background-color: var(--credit-background);
    border-radius: 10px;
}

#dev-credits {
    padding: 0;
}

/* For divs within divs */
.sub-div {
    background-color: var(--credit-background);
    width: 100%;

    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 10px;
}

/* Non-containers */

#trailer {
    width: 100%;
    height: 100%;
    min-height: 640px;
}

.screenshot {
    width: 300px;
    display: block;
    margin: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    padding: 30px
}

.screenshot:hover {
    width: 400px;
    flex-basis: 400px;
}

.big-header {
    font-size: 32px;
    max-height: 32px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: orange;
}

a:hover {
    font-size: 20px;
}

p,
li {
    font-size: 18px;
    margin-bottom: 5px;
}

.dev-credit-list {
    list-style-type: none;
}


.credit-image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 300px;
    background-color: var(--main-background);

}

.credit-image {
    width: 100%;
    height: 100%;
}

.credit-cell>h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-decoration: underline;
}

strong {
    color: orange;
}

.sub-div>* {
    margin-left: 5%;
    margin-right: 5%;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-element {
    margin-bottom: 20%;
}

.first-element {
    margin-top: 10%;
}

/* Image centered in div */
.generic-image {
    margin: auto;
    width: 300px;
    display: block;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    padding: 5px;
}